<div id="preferencias" class="inner-card form-card">
  <h4>Preferencias</h4>
  <form>
    <label>
      <span>Tiempo</span>
      <select id="duracionJuego">
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="150">150</option>
        <option value="-1">Sin límite</option>
      </select>
    </label>
    <label>
      <span>Cartas</span>
      <select id="numCartas">
        <option value="20">20</option>
        <option value="26">26</option>
        <option value="32">32</option>
      </select>
    </label>
    <button type="submit" id="submitButton">Aceptar</button>
  </form>
</div>