<div id="registro" class="inner-card form-card">
  <h4>Registro</h4>
  <form>
      <label>
        <span>Usuario</span>
        <input type="text" id="usuario" name="usuario" required>
      </label>
      <label>
        <span>Correo</span>
        <input type="text" id="correo" name="correo" required>
      </label>
      <label>
        <span>Clave</span>
        <input type="password" id="clave"name="clave" required>
      </label>
      <label>
        <span>Repita la Clave</span>
        <input type="password" id="claveRpt" name="claveRpt" required>
      </label>
      <button type="submit" id="submitButton">Enviar</button>
  </form>
</div>
